.menuButton {
    width: 31px;
    height: 31px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    border-radius: 31px;
    background: transparent;
    border: none;
    right: 30px;
    top: 30px;
}

.menuButton:active,
.menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
}

@media all and (min-width: 1024px) {
    .menuButton {
        right: 80px;
        top: calc(50% - 16px);
        transform: rotate(180deg);
    }
}

@media all and (min-width: 1540px) {
    .menuButton:hover {
        background-color: rgba(51, 51, 51, 0.1);
    }
}