.menu {
    position: absolute;
    top: 17px;
    right: 15px;
    padding: 0;
}

@media all and (min-width: 1024px) {
    .menu {
        position: relative;
        margin-top: 40px;
    }
}

.menuButton {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    border-radius: 31px;
    background: transparent;
    border: none;
    right: 30px;
    top: 30px;
}

.menuButton:active,
.menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
}

@media all and (min-width: 1024px) {
    .menuButton {
        right: 80px;
        top: calc(50% - 16px);
        transform: rotate(180deg);
    }
}

@media all and (min-width: 1540px) {
    .menuButton:hover {
        background-color: rgba(51, 51, 51, 0.1);
    }
}

.menuList {
    min-width: 157px;
    background: var(--white);
    border-radius: 3px;
    padding: 0 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    position: absolute;
    right: 0;
    top: 10px;
}

.menuList li {
    font-size: 14px;
    line-height: 16px;
    color: var(--grey99);
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #ECECEC;
    cursor: pointer;
}

.menuList li:last-child {
    background-color: var(--grey99);
    color: var(--grey66);
    margin: 0 -20px;
    border-radius: 0 0 3px 3px;
    text-align: center;
    padding: 10px 0;
}

