@media all and (min-width: 1024px) {
    .textContent {
        align-items: self-end;
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
        flex-basis: 100%;
        padding: 0 40px 0 0;
    }
}

@media all and (min-width: 1540px) {
    .textContent {
        padding: 0 60px;
    }
}

.metaData {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 7px;
    min-height: 31px;
}

@media all and (min-width: 1024px) {
    .metaData {
        flex-direction: row-reverse;
    }
}

.userLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4px;
}

@media all and (min-width: 1540px) {
    .userLink:hover a {
        text-decoration: underline;
    }
}

.avatar {
    max-width: 32px;
    height: auto;
    border-radius: 50%;
    margin-right: 7px;
}

.username {
    color: var(--orange);
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
}

@media all and (min-width: 1540px) {
    .username {
        position: relative;
        z-index: 1;
    }
}

.createdAt,
.publishedLabel {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: var(--grey99);
}

@media all and (min-width: 1024px) {
    .createdAt {
        margin-right: 10px;
    }
}

.publishedLabel {
    display: none;
    margin-right: 4px;
}

@media all and (min-width: 1024px) {
    .publishedLabel {
        display: inline-block;
    }
}

